body{display: grid;
grid-template-areas: 
    "header";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0vw;
  height: 300px;
  max-width: 100vw;
}
 div{padding: 10%; border: 3px inset;}
 #pageHeader{grid-area: header; background-color: gold; text-align: center; font: 20pt/25pt sans-serif;}